<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<handlers>
			<add name="iisnode" path="index.js" verb="*" modules="iisnode" />
		</handlers>
        <rewrite>
            <rules>
                <!--<rule name="www to https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{https}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Redirect to ssl certified site" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>-->
				<rule name="deq">
					<match url="www.funky.co.za" />
					<action type="Redirect" url="index.js" />
				</rule>
            </rules>
            
        </rewrite>
        <defaultDocument>
            <files>
                <add value="index.js" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
