/* Base colours: */
/* Blue:    #24518A (36,81,138)     darker : #0b1a2c (11,26,45)   lighter : #3271c0 (123,166,238) */
/* Red:     #EE0500 */
/* Grey:    #ACA2AA */

                                    /* ------------------------------------------ */
                                    /* ------------ BASIC SETUP ----------------- */
                                    /* ------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

html {
    background-color: #fff;
    color: #ccc;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix { zoom:1 }
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

:target:before {
    content:"";
    display:block;
    height:30vh; /* fixed header height*/
    margin:-30vh 0 0; /* negative fixed header height */
}

                                    /* ------------------------------------------ */
                                    /* ----------- REUSABLE COMPONENTS ---------- */
                                    /* ------------------------------------------ */

.row {
    padding-top: 5px;
    max-width: 1140px;
    margin: 0 auto;
}
.row .addr {
    padding-top: 0;
}

section {
    padding: 80px 0;
}

                                    /* ------------- HEADINGS ------------------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

                                    /* ------------- PARAGRAPHS ----------------- */


                                    /* --------------- ICONS -------------------- */

.small-icon {
    display: inline-block;
    text-align: center;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 10px;
}

                                    /* ---------------- BUTTONS ----------------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    margin-top: 40px;
    border: 1px solid #24518A;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #24518A;
}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: rgba(123, 166, 238, 0.53);
    color: #fff;
    margin-left: 30px;
}
        
.btn:hover,
.btn:active {
    background-color: #3271c0;
    color: #fff;
    border: 1px solid #3271c0;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}


.subcheck
{
    color: #000;
    font-size: 90%;
    padding-left: 10%;
    text-align: right;
}


                                    /* ---------------- LINKS ------------------- */

a:link,
a:visited {
    color: #24518A;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #ACA2AA; 
    transition: border-bottom 0.2s, color 0.15s;
}

a:hover,
a:active {
    color: #0b1a2c;
    border-bottom: 1px solid transparent; 
}

                                    /* ------------------------------------------ */
                                    /* --------------- HEADER ------------------- */
                                    /* ------------------------------------------ */

header {    
    overflow: hidden;
    background: rgba(3,3,3,0.0);
    position: fixed;
    width: 100%;
    height: 30vh;
    top: 0;
    background: rgba(11,26,45,0.5);
    z-index: 9;    
}

.head {
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(5,5,5,0.5)), url(images/sect1.jpg);
    background-size: cover;
    background-position: center;
    background-color: #000;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    z-index: 8;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin: 10px 20px 0 10px;
}

.main-nav {
    float: left;
    list-style: none;
    margin-top: 20px;
}

.main-nav:last-child {
    float: right;
    margin-right: 20px;
}

.main-nav li {
    display: inline-block;
    margin: 20px 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 15px 0;
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #EE0500;
}

.profile-text-box {
    position: fixed;
    width: 80%;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}

                                    /* ------------------------------------------ */
                                    /* ------------- OTHER SECTION -------------- */
                                    /* ------------------------------------------ */

.profile-body {
    position: relative;
    left: 25%;
    top: 30vh;
    width: 75%;
}

.profile-sidebar {
    position: fixed;
    top: 30%;
    width: 25%;
    height: 70%;
    left: 0;
    background-color: #f6f6f6;
    margin: 0;
}
.profile-sidebar ul {
    list-style: none;
}

.profile-sidebar ul li {
    color: #fff;
    margin: 10%;
}

.profile-sidebar ul li a {
    border-bottom: 1px solid transparent;
}

.profile-sidebar ul li ion-icon {
    margin-right: 10px;
}

a.anchor {
    position: relative;
    top: -12vh;
}

                                    /* ------------------------------------------ */
                                    /* ------------- SECT1 ---------------------- */
                                    /* ------------------------------------------ */

.section-profile-info {
    position: relative;
    background-color: #b1b1b1;
    color: #24518A;
    padding: 5%;
    text-align: justify;
}

.section-profile-info-edit {
    position: relative;
    display: none;
    background-color: #b1b1b1;
    color: #24518A;
    padding: 5%;
    text-align: justify;
}

.float-middle {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}


                                    /* ------------------------------------------ */
                                    /* ------------- OTHER SECTION -------------- */
                                    /* ------------------------------------------ */

.section-documents {
    position: relative;
    background-color: #3271c0;
    padding: 10px;
    margin: 0;
    min-height: 30vh;
    color: #24518A;
}

.section-documents div {
    padding: 15px;
}

.Document-upload {
    background-color: #d9d9d9;
    padding: 20px;
    max-width: 300px;

}

                                    /* ------------------------------------------ */
                                    /* ------------- OTHER SECTION -------------- */
                                    /* ------------------------------------------ */

.section-services {
    position: relative;
    background-color: #eee;
    padding: 10px;
    min-height: 20vh;
}

.serv-div {
    margin: 20px;
    padding: 10px;
    max-width: 300px;
    min-width: 20%;
    background-color: #d9d9d9;
    display: inline-block;
    color: #24518A;
}

.serv-img {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.serv-img img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: auto;
}

.serv-name {
    position: relative;
    display: inline-block;
    margin: 10px;
}
.serv-loc-lbl {
    display: block;
    font-size: 70%;
}


.Document-upload
{
    padding-bottom: 10px;
     box-sizing: border-box;
     border-bottom: 2px solid #24518A;
    
}